/*Type your css here*/
#linechart{
  background-color: #ffffff;
  position:absolute;
  left:-2%;
  top:0px;
  height:100%;
  width:100%;
  font-family: Lato, Helvetica-Neue, monospace;
}
.ct-grids line{
  stroke: #E3E3E3;
  stroke-opacity: 0.5;
}
.ct-line{
 stroke-width: 2px;
}

.ct-grids line{
  stroke: #E3E3E3;
  stroke-opacity: 0.5;
}
/*    .ct-series-a .ct-line{
  stroke: #003E75;
}
.ct-series-b .ct-line{
  stroke: #FFB000;
}
.ct-series-a .ct-area{
fill: #003E75 !important;
}
.ct-series-b .ct-area{
fill: #FFB000 !important;
}

.ct-series-a .ct-point{
  stroke: #003E75;
}
.ct-series-b .ct-point{
  stroke: #FFB000;
}   */

.ct-label.ct-label.ct-horizontal {
  padding-top: 15px;
  text-align: right;
}

.ct-label{
  color: #A0A0A0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.ct-point {
  stroke-width: 0px;
  stroke-opacity: 0.9;
  transition: all 0.2s linear;
}

.vertical-line
{
	  stroke: #003E75;
}

.tooltip-text1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #727272;
    height: 20px;
    padding: 5px !important;
    line-height: 20px;
}

.tooltip-text2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgba(54, 77, 58, 1);
	height: 25px;
    padding: 5px !important;
	line-height: 20px;
}

.tooltip-text3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #2f8523ff;
    height: 20px;
    padding: 5px !important;
    line-height: 20px;
}